# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
- python=3.9.18
- pip
- pandas=1.5.3
- numpy=1.23.5
- scikit-learn=1.2.2
- xgboost=1.7.3
- tensorflow
- scipy=1.10.1
- seaborn=0.12.2
- matplotlib=3.7.1
- cloudpickle=2.0.0
- jupyter=1.0.0
- cachetools=4.2.2
- joblib=1.1.1
- imbalanced-learn=0.10.1
- torch=1.10.2
- pytorch-tabnet=3.1.1
- snowflake-snowpark-python
- snowflake-connector-python
- snowflake=0.0.4

- snowflake-ml-python=1.0.10

